<!DOCTYPE html>
<html>

  <head>
    
    <!-- Tab Styling -->
    <title>Educanon Gifts</title>
    <link rel="shortcut icon" href="http://www.educanon.com/static/img/dachshundsplash.png">

    <!-- Stylesheets and Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">

    <!-- Javascripts Links and Dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <!-- Javacript references -->
    <script type="text/javascript" src="public/javascripts/root.js"></script>
    <script src="public/javascripts/ngDraggable.js"></script>
  </head>

  <body ng-app="mainApp">
    <div class="container" ng-controller="MainCtrl">

      <div class="row">
        <center>
          <div class="heading-title">Organize your folders, one gift at a time</div>
          <img src="public/images/boxlogo.jpg">
        </center>
      </div>

      <center>
        <div class="folderNameForm">
          <input ng-model="nameForNewFolder" placeholder=" New Folder Name"></input>  
          <button type="button" action="submit" ng-click="createFolder()" class="btn btn-info">Create Folder</button>  
        </div>
        <br>

        <div class="itemNameForm">   
          <input ng-model="nameForNewItem" placeholder="Enter Item Name"></input>
          <input ng-model="costForNewItem" placeholder="Enter Item Cost"></input>
          <button type="button" action="submit" ng-click="createItem()" class="btn btn-info">Create Item</button>
        </div>    
      </center>
        <br><br>

      <!-- list of items -->
      <ul class="draggable-objects">
        <!-- total list of gifts -->
        <center><u>List of all Gift will be shown below</u></center>
        <div ng-repeat="item in items track by $index" >
          <center>
            <div ng-drag="true" class="x" ng-drag-data="item" style="cursor:move"> {{$index}}) {{item.itemKeyName}} - ${{item.itemKeyCost}}</div>
          </center>
        </div>
      </ul>

      <!-- Default Folder and Content -->
      <ul class="draggable-objects" id="nav">
          <span class="title" ng-click = "showDefaultFolderGifts()" >{{defaultFolder.folderName}}</span>
          <div ng-repeat="item in items track by $index">
              <div ng-drag="true" ng-show= "defaultContent" ng-drag-data="item" style="color:black">  {{$index}}) {{item.itemKeyName}} - ${{item.itemKeyCost}}</div>
          </div>
      </ul>

      <div class="title" ng-repeat="folder in folders" ng-click = "findCurrentFolder(folder.folderName)" ng-drop="true" ng-drop-success="onDropComplete2($data,$event, folder.folderName)" style="color:#00cc00"> {{folder.folderName}}
     
        <li ng-repeat="item in folder.itemsContained" ng-if = "showFolder(folder.folderName)"ng-drag="true" ng-drag-data="item" ng-drag-success="onDragSuccess2($data,$event, folder.folderName)" ng-center-anchor="{{centerAnchor}}" style="color:black">
            {{item.itemKeyName}} - ${{item.itemKeyCost}}
        </li>

      </div> <br>

      <div class="row">
        <!-- Folder Viewed -->
        <div class = "currentFolder" ng-show="currentFolder"> Reading contents from folder, with title {{currentFolder}}.</div>

        <div class = "currentFolder" ng-show="defaultContent"> Reading content from our {{defaultFolder.folderName}} folder.</div> <br> 
      </div>
      <br>

      <!-- JSON Output -->
      <div class="footer">
        <hr>
        <b>Output JSON Gifts-Folders Relationship:</b> 
        <br> <u>Default Folder Info:</u> {{defaultFolder}} <br>
        <u>New Folders Info:</u> {{folders}}
        <hr>
      </div>
  </body>
</html>